# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

source "$(ZEPHYR_CUSTOM_APP_DIR)/drivers/sensor/example_sensor/Kconfig"
source "$(ZEPHYR_CUSTOM_APP_DIR)/drivers/sensor/aht10/Kconfig"